[submodule "bitbake"]
	path = bitbake
	url = git://git.openembedded.org/bitbake
[submodule "meta-openembedded"]
	path = meta-openembedded
	url = git://git.openembedded.org/meta-openembedded
[submodule "openembedded-core"]
	path = openembedded-core
	url = git://git.openembedded.org/openembedded-core

[submodule "meta-mld-source"]
	path = meta-mld-source
	url = http://5.9.147.200:8765/MLD/mld-source.git
[submodule "meta-yocto"]
	path = meta-yocto
	url = git://git.yoctoproject.org/meta-yocto
